In [1]:
# 1. Cargar un archivo csv
# 2. Obtener el total de columnas y filas
# 3. Sacar las estadísticas del archivo
# 4. Renombrar un par de columnas
# 5. Selecciona solo 5 columnas y guardarlas en un nuevo archivo .csv

In [2]:
import pandas as pd

In [7]:
# 1. Cargar un archivo CSV
archivo = "Music_Courses.csv"
datos = pd.read_csv(archivo)

In [13]:
# 2. Obtener el total de columnas y filas
num_filas, num_columnas = datos.shape

print (f'Hay {datos.shape[0]} filas y {datos.shape[1]} columnas')

Hay 680 filas y 12 columnas

In [18]:
# 3. Sacar las estadísticas del archivo

estadisticas = datos.describe()

estadisticas

,course_id,price,num_subscribers,num_reviews,num_lectures,Rating,content_duration
count,6.800000e+02,680.000000,680.000000,680.000000,680.000000,680.000000,680.000000
mean,6.386484e+05,49.558824,1245.130882,46.652941,38.316176,0.308912,2.854387
std,3.472305e+05,41.187592,5676.381419,337.735677,42.739700,0.303799,3.470463
min,1.221400e+04,0.000000,0.000000,0.000000,4.000000,0.000000,0.483333
25%,3.383060e+05,20.000000,31.000000,2.000000,14.000000,0.070000,1.000000
50%,6.533970e+05,40.000000,138.000000,5.000000,25.000000,0.150000,2.000000
75%,9.172400e+05,50.000000,870.250000,17.000000,43.000000,0.520000,3.500000
max,1.272282e+06,200.000000,101154.000000,7676.000000,362.000000,1.000000,38.000000

In [35]:
# 4. Renombrar un par de columnas

for i, columna in enumerate(datos.columns, start=0):
    print(f'{i}. {columna}')

0. course_id
1. course_title
2. url
3. Precio
4. num_subscribers
5. num_reviews
6. num_lectures
7. level
8. Popularidad
9. content_duration
10. published_timestamp
11. subject

In [37]:
# 4.1 Renombrar un par de columnas

datos.rename(columns={"course_title":"Titulo", "content_duration":"Duracion","subject":"Tema", "price": "Precio", "Rating": "Popularidad",}, inplace=True)

for i, columna in enumerate(datos.columns, start=0):
    print(f'{i}. {columna}')

0. course_id
1. Titulo
2. url
3. Precio
4. num_subscribers
5. num_reviews
6. num_lectures
7. level
8. Popularidad
9. Duracion
10. published_timestamp
11. Tema

In [38]:
# 5. Selecciona solo 5 columnas y guardarlas en un nuevo archivo .csv

selec_colum = datos.iloc[:, [1, 3, 8, 9, 11]]

for i, columna in enumerate(selec_colum.columns, start=1):
    print(f'{i}. {columna}')

1. Titulo
2. Precio
3. Popularidad
4. Duracion
5. Tema

In [39]:
# 5. Selecciona solo 5 columnas y guardarlas en un nuevo archivo .csv

archivo_salida = "Music_Courses_Nuevo.csv"
selec_colum.to_csv(archivo_salida, index=False)